:root{
    --maincolor:#11154B;
    --secondarycolor:#ffa500;
    --btncolor:#03BFCB;
}
.slider{
    width: 100%;
    height:70vh;
    /* border: 1px solid green; */
    background: url('./bg.png');
    display: flex;
    padding-left: 10vw;
    flex-direction: column;
    
}
.animated_text{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    justify-content: start;
    margin-top: 10vh;
    width: 50%;
}
.animated_text p{
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
}
.subText{
    width: 50%;
    /* border: 1px solid red; */
    margin-top: 2vh;
}
.subText p{
    color: var(--secondarycolor);
    line-height: 1.5;
    font-weight: 300;
    font-size: 1.2rem;
}

@media only screen and (max-width: 1024px){

    .slider{
        background-image: url('./bg_mobile.png');
    }

    .animated_text{
        width: 100%;
        margin-top: 5vh;
    }
    .animated_text p{
        font-size: 2.0rem;
        letter-spacing: 0.1rem;
        
    }
    .subText{
        width: 90%;
        /* border: 1px solid red; */
        margin-top: 2vh;
    }
}