:root{
    --maincolor:#11154B;
    --secondarycolor:#ffa500;
    --btncolor:#03BFCB;
}
.products_containner{
    width: 100%;
    min-height: 50vh;
    /* border: 1px solid red; */
    margin-top: 13vh;
    padding: 0vh 10vw;
    
}
.products_title{

    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    margin-bottom: 3vh;
    flex-direction: column;
    align-items: center;
}

.products_title p:first-child{
    color: var(--btncolor);
    font-size: 2.0rem;
    font-weight: 500;
    /* opacity: 0.7; */
    
}

.products_title p:nth-child(2){
    color: white;
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.8;
    /* opacity: 0.7; */
    font-family: 'Montserrat', sans-serif;

}


.products_main{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: minmax(60vh auto);
    /* gap: 5vh; */
    /* border: 3px solid white; */

}
.product_card{
    /* border: 5px solid white; */
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

}

.product_image{

    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: flex;
    gap: 2rem;
    margin-bottom: 3vh;
    /* border: 5px solid green; */
}

.product_image img{

    width: 100%;
    height: 100%;

    /* padding: 3vh; */
    /* border: 1px solid green; */

}

.product_title{
    width: 100%;
    height: 10vh;
    

}

.product_title p:first-child{

    color: var(--btncolor);
    font-size: 1.5rem;
    /* padding: 3vh; */
}

.product_description{

}
.product_description p{
    color: white;
    line-height: 1.5;
    /* padding: 3vh; */
}

.item{
    /* border: 2px solid #03BFCB; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.item p{
    font-size: 1.5rem;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0rem;
    text-align: center;
    /* border: 1px solid red; */
    /* margin: 0vh 5vw; */
    color: white;
    background: #11154B;
    opacity: 0.6;
}

@media only screen and (max-width: 1024px){

    .products_containner{
        padding: 0vh 5vw;
        
    }

    .products_main{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: minmax(60vh auto);
        
        gap: 5vh;
    
    }
}