:root{
    --maincolor:#11154B;
    --secondarycolor:#ffa500;
    --btncolor:#03BFCB;
}
.home_about{
    width: 100%;
    min-height: 60vh;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    padding: 0% 10vw;
    margin-top: -5vh;
}

.about_image{
    width: 50%;
    /* border: 1px solid green; */

}
.about_image img{
    width: 100%;
    height: 100%;
}

.about_content{

    width: 50%;
    /* border: 1px solid green; */
    background: white;
    display: flex;
    flex-direction: column;

}

.about_title{

    margin-bottom: 1vh;
    display: flex;
    /* justify-content: center; */
    /* border: 1px solid red; */

}
.about_title p{
    color: #0C41A6;
    font-size:2.0rem;
    padding-left: 1.25rem;
    font-weight: 500;
    margin-top: 3vh;
    
}

.about_text p{
    font-size: 0.9rem;
    line-height: 1.8;
    padding: 0.6rem 1.25rem;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

}
.about_btn{
    margin-top: 2vh;
    width: 100%;
    display: flex;
    padding-left: 1.25rem;
    /* justify-content: center; */
    /* border: 1px solid red; */
}
.about_btn button{
    display: flex;
    justify-content: center;
    align-items: center;

    background: #0C41A6;
    color: #fdfdfd;
    width:10.5rem;
    height: 6vh;
    outline: none;
    border: 0px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
    gap: 0.5vw;
    transition: 0.5s ease-in-out;

}

.about_btn button:hover{
    opacity: 0.8;
}

@media only screen and (max-width: 1024px){

    .home_about{
        margin-top: 5vh;
        flex-direction: column;
        padding: 0vh 5vw;
        
    }

    .about_image{
        width: 100%;
        /* border: 1px solid green; */
    
    }
    .about_content{
        width: 100%;
        /* border: 1px solid green; */
    
    }

    .about_title p{
        padding-left: 0rem;
        
    }

    .about_text p{
        padding: 0.6rem 0rem;
        
    
    }

    .about_btn{
        padding-left: 0rem;
        /* justify-content: center; */
        /* border: 1px solid red; */
    }
    
}