:root{
    --maincolor:#11154B;
    --secondarycolor:#ffa500;
}
.home_about{
    width: 100%;
    height: 54vh;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    padding: 0% 10vw;
}

.about_image{
    width: 50%;
    height: 100%;
    /* border: 1px solid green; */

}
.about_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about_content{

    width: 50%;
    height: 100%;
    /* border: 1px solid green; */
    background: white;
    display: flex;
    flex-direction: column;

}

.about_title{

    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */

}
.about_title p{
    color: var(--maincolor);
    font-size:2.0rem;
    padding-left: 20px;
    font-weight: 500;
    margin-top: 3vh;
    
}

.about_text p{
    font-size: 1.06rem;
    line-height: 1.5;
    padding-left: 1.25rem;

}
.about_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}
.about_btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: var(--secondarycolor);
    color: var(--maincolor);
    width:40%;
    height: 7vh;
    outline: none;
    border: 0px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;

}