@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Oswald:wght@300;400;500&display=swap');
.about_container{
    width: 100%;
    min-height: 100vh;
    /* background: #11154B; */
    /* border: 1px solid green; */
    /* font-family: 'Montserrat', sans-serif; */
}

.bread_crumb{
    width: 100%;
    height: 35vh;
    /* border: 2px solid red; */
    background-image: url("./hd-wide-2.jpg");
    display: flex;
    justify-content: space-between;
    
}

.breadcrumb_left{
    width: 100%;
    /* border: 1px solid green; */
    padding-left: 10vw;
    padding-top: 4vh;
}

.breadcrumb_left p:first-child{
    color: white;
    font-size: 2.5rem;
}
.breadcrumb_left p:nth-child(2){

    color: white;
}


.breadcrum_right p{
    color: white;
}

.about_abt{
    width: 100%;
    min-height: 55vh;
    /* border: 2px solid red; */
    display: flex;
    font-family: 'Montserrat', sans-serif;
    padding: 2vh 10vw;
    margin-top: 3vh;
}
.about_abt_text{
    width: 50%;
    min-height: 55vh;
    /* border: 1px solid green; */
    
}

.about_abt_text p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.8;
    color: #11154B;
    
}

.about_abt_image{
    width: 50%;
    /* border: 2px solid purple; */
}

.about_abt_image img{
    width: 100%;
    height: 100%;

}



.smart_tech_container{

    width: 100%;
    min-height: 20vh;
    border-top: 1px 2px 3px 4px rgba(12,12,12,0.05);
    padding: 0vh 10vw;
}

.smart_tech_title{


}

.smart_tech_title p{
    color: #11154B;
    font-size: 1.8rem;
    /* text-align: center; */
}

.smart_tech_body{

    display: flex;
    justify-content: space-between;
    margin: 3vh 0vw;
}
.es, .gs, .wm,.cbp,.sc{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
    box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.06);
    width: 18%;
}


.st_icons{
    color: #11154B;
    font-size: 2.5rem;
    /* border: 1px solid red; */
    width: 100%;
}

.es p, .gs p, .wm p,.cbp p,.sc p{

    width: 100%;
    text-align: center;
    color: #11154B;
    /* border: 1px solid red; */
}

.vision_mission_container{

    /* border: 1px solid green; */
    width: 100%;
    min-height: 60vh;
    padding: 3vh 10vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 3vh;
}

.vision,.mission, .values{

    width: 100%;
    height: 13vh;
    margin-top: 2vh;
    /* border: 1px solid green; */
}

.mission{

}

.values{

}

.vision .title,.mission .title, .values .title{

    color: #11154B;
    font-size: 1.8rem;
}

.vision .body p,.mission .body p, .values .body p{

    color: #11154B;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 1.5vh;
    
}





@media only screen and (max-width: 1024px){

    .bread_crumb{
        height: 25vh;
    }
    .about_abt{
        flex-direction: column;
        padding: 0vh 5vw;
    }

    .about_abt_text{
        width: 100%;
    }

    .about_abt_image{
        width: 100%;
        margin-top: 3vh;
    }

    .es, .gs, .wm,.cbp,.sc{
    
        width: 100%;
        height: 20vh;
        margin-top: 3vh;
    }

    .smart_tech_body{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .smart_tech_container{
        padding: 0vh 5vw;
    }

    .vision_mission_container{
        grid-template-columns: repeat(1, 1fr);
        padding: 0vh 5vw;
    }
}
