:root{
    --maincolor:#11154B;
    --secondarycolor:#ffa500;
    --btncolor:#03BFCB;
}
.navBar{
    display: flex;
    flex-direction: row;
    padding-top: 2vh;
    /* border: 1px solid red; */
    background: #11154B;
    justify-content: space-between;
    border-bottom: 4px solid #ffa500;
    position: sticky;
    top: 0;
    z-index: 100;
    /* border: 2px solid red; */
   
    
}
.logo{
    width: 13%;
    /* border: 1px solid red; */
    margin-left: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 100%;
    object-fit: cover;
    /* border: 1px solid green; */
}
.menuItems{
    width: 30%;
    height: 10vh;
    /* border: 1px solid green; */
    margin-right: 10vw;
}
.menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    /* border: 1px solid red; */
    height: 10vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    
}
.menu li{
    font-size: 1.25rem;
    color: white;
    
}

.pay_bills_btn{
    width: 20%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 10vw;
    /* background: #ffa500; */
    
}

.pay_bills_btn button{
    background:var(--btncolor);
    color: #11154B;
    width:60%;
    height: 6vh;
    outline: none;
    border: none;
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    cursor: pointer;
}
