@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Oswald:wght@300;400;500&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Oswald', sans-serif;
}
.main_container {
  width: 100%;
  background: #11154B;

 
}

