.utilities_main_container{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(40vh auto);
    gap: 5vh;
    margin: 10vh 10vw;
    background:#ccc
}

.util{
    /* width: 30%;
    height: 10vh; */
    /* border: 1px solid green; */
    background: white;
    height: 30vh;
    -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777
}